{
  "extends": "loopback",
  "env": {
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "rules": {
    "max-len": [
      "warn",
      80,
      4,
      {
        "ignoreComments": true,
        "ignoreUrls": true,
        "ignorePattern": "^\\s*const\\s.+=\\s*require\\s*\\("
      }
    ],
    "object-curly-spacing": [
      "warn",
      "always"
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ]
  }
}